@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  font-size: 62.5%; }

html, body, h1, main, section, footer {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

body {
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 1rem; }

main {
  margin-top: 12.7rem;
  margin-left: 2.4rem; }

.txt--bold {
  font-weight: 700; }

.text--white {
  color: #fff; }

.box--dark {
  border-radius: .5rem; }

section.main__fylo--box {
  height: 20rem;
  margin-bottom: 1.7rem; }

section.box--dark {
  background-color: #1D2C67;
  width: 32.7rem; }
  section.box--dark .main__logo {
    padding-top: 4rem;
    padding-left: 4.2rem; }
  section.box--dark .main__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.9rem;
    padding-left: 4.2rem;
    width: 15.4rem;
    align-items: center; }
    section.box--dark .main__icons .main__icon {
      background-color: #0C122C;
      border-style: solid;
      border-color: #0C122C;
      border-radius: 1rem;
      border-width: 1.1rem; }
    section.box--dark .main__icons .main__icon--doc {
      border-width: 1.1rem 1.5rem 1.1rem 1.5rem; }
    section.box--dark .main__icons .main__icon--folder {
      margin: 0 1.9rem 0 1.5rem;
      border-width: 1.3rem 1.2rem 1.3rem 1.2rem; }
    section.box--dark .main__icons .main__icon--upload {
      margin-left: -.4rem;
      border-width: 1.7rem 1.2rem 1.4rem 1.3rem; }

section.main__info-box {
  height: 15.9rem; }
  section.main__info-box h1.main__heading {
    font-weight: 400;
    padding-top: 3.1rem;
    padding-left: 4.8rem;
    letter-spacing: -.4px; }
  section.main__info-box div.main__usage-bar--box {
    margin-top: 1.4rem;
    margin-left: 3.4rem;
    width: 25.8rem;
    height: 2rem;
    background-color: #141F4C;
    border-radius: 2rem;
    z-index: 1; }
    section.main__info-box div.main__usage-bar--box hr.main__usage-bar {
      position: relative;
      top: .3rem;
      left: -3rem;
      margin-top: 1.1rem;
      width: 19.2rem;
      height: 1.4rem;
      border-radius: 2rem;
      border-style: none;
      background: linear-gradient(to right, #ffa399, #ff4d97);
      z-index: 2; }
    section.main__info-box div.main__usage-bar--box hr.main__usage-bar::after {
      content: "•";
      position: inherit;
      font-size: 5.5rem;
      color: #fff;
      width: 100%;
      height: 100%;
      top: -2.6rem;
      left: 17.5rem;
      z-index: 3; }
  section.main__info-box div.main__usage-bar--text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 26rem;
    margin-left: 3.4rem;
    margin-top: -.3rem; }
    section.main__info-box div.main__usage-bar--text-wrapper .main__usage-bar--text {
      font-weight: 700;
      font-size: 1.2rem; }

div.data-left__box {
  display: inline-block;
  margin-left: 7.4rem;
  margin-top: .4rem;
  padding-top: 1.4rem;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  width: 17.96rem;
  height: 4.3rem;
  background-color: #fff; }
  div.data-left__box span.data-left__text {
    margin-left: 2.6rem; }
    div.data-left__box span.data-left__text span:first-child {
      font-size: 3.9rem;
      font-weight: 700; }
    div.data-left__box span.data-left__text span:last-child {
      position: relative;
      font-size: 1.3rem;
      top: -.9rem;
      left: .1rem;
      padding-left: .8rem;
      color: #9999A1;
      font-weight: 700; }
